Mods/Oath_Gunslinger/meta.lsf
Localization/English/ENG_Oath_Gunslinger.loca
Public/Oath_Gunslinger/ActionResourceDefinitions/ActionResourceDefinitions.lsf
Public/Oath_Gunslinger/Assets/Effects/Effects_Banks/VFX_Gun_Ground_01.lsfx.lsf
Public/Oath_Gunslinger/Assets/Effects/Effects_Banks/VFX_Gun_Impact_01.lsfx.lsf
Public/Oath_Gunslinger/Assets/Effects/Effects_Banks/VFX_Spells_Cast_Warlock_ProjectileBeam_EldritchBlast_Impact_New_01.lsfx.lsf
Public/Oath_Gunslinger/Assets/Effects/Effects_Banks/VFX_Spells_Cast_Warlock_ProjectileBeam_EldritchBlast_Impact_None_01.lsfx.lsf
Public/Oath_Gunslinger/Assets/Effects/Effects_Banks/Projectile/VFX_Projectile_FireBolt_Smokey.lsfx.lsf
Public/Oath_Gunslinger/ClassDescriptions/ClassDescriptions.lsf
Public/Oath_Gunslinger/Content/Assets/Weapons/[PAK]_EA_Weapons_1/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/Effects/[PAK]_Gunslinger/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/UI/[PAK]_UI/_merged.lsf.lsf
Public/Oath_Gunslinger/DefaultValues/Abilities.lsf
Public/Oath_Gunslinger/EquipmentTypes/EquipmentTypes.lsf
Public/Oath_Gunslinger/GUI/Icon_Gunslinger.lsf
Public/Oath_Gunslinger/GUI/Icons_ColtNavy.lsf
Public/Oath_Gunslinger/Levelmaps/LevelMapValues.lsf
Public/Oath_Gunslinger/Lists/SpellLists.lsf
Public/Oath_Gunslinger/MultiEffectInfos/5840a42d-42d8-483c-881c-fde5e16927e2.lsf
Public/Oath_Gunslinger/MultiEffectInfos/d163a8c8-dcb1-46f2-9c89-8ff129394c14.lsf
Public/Oath_Gunslinger/Progressions/Progressions.lsf
Public/Oath_Gunslinger/RootTemplates/_merged.lsf.lsf
Public/Oath_Gunslinger/Tags/014468f7-73ff-4954-b6bd-55c7beebbe79.lsf.lsf
Public/Oath_Gunslinger/Content/Assets/Weapons/[PAK]_EA_Weapons_1/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/Effects/[PAK]_Gunslinger/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/UI/[PAK]_UI/_merged.lsf.lsf
.vscode/tasks.json
Public/Oath_Gunslinger/Content/UI/[PAK]_UI/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/Effects/[PAK]_Gunslinger/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/Assets/Weapons/[PAK]_EA_Weapons_1/_merged.lsf.lsf
Public/Oath_Gunslinger/Content/UI/[PAK]_UI/_merged.lsf.lsf
